.ui .container {
  width: 300px;
}

.shadow {
  -webkit-box-shadow: 6px 4px 20px 6px rgba(87, 87, 87, 0.48);
  -moz-box-shadow: 6px 4px 20px 6px rgba(87, 87, 87, 0.48);
  box-shadow: 6px 4px 20px 6px rgba(87, 87, 87, 0.48);
}

.lastUpdatedTime {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.lastUpdatedTime label {
  color: #bebebe;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 12px;
}

.backButton {
  display: flex;
  justify-content: center;
}

.backButton button {
  color: white;
  background: transparent;
  outline: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 20px;
}

.backButton button:hover {
  color: white;
  background: transparent;
  outline: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  margin-top: 10px;
}

.spinnerBusList {
  margin: 0 auto;
  height: 50px;
  width: 300px;
  margin-top: 20px;
  text-align: center;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  color: white;
}

.item {
  height: 45px;
  position: relative;
}

.icon, .busStopCode {
  height: 40px;
  width: 70px;
  position: relative;
  float: left;
}

.signPost {
  font-size: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #575757;
}

.busStopCode div {
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 30%;
  right: 0%;
  transform: translate(-50%, -50%);
  color: #575757;
}

.signPostContainer {
  height: 50px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}