.submitButton {
  display: flex;
  justify-content: center;
}

.ui .button {
  border-radius: 4px;
  width: 120px;
  height: 36px;
  color: #4776E6;
  background: white;
  margin-top: 5px;
  -webkit-box-shadow: 6px 4px 20px 6px rgba(87, 87, 87, 0.48);
  -moz-box-shadow: 6px 4px 20px 6px rgba(87, 87, 87, 0.48);
  box-shadow: 6px 4px 20px 6px rgba(87, 87, 87, 0.48);
}

.ui .button:hover {
  background: white;
  color: #8E54E9;
}

.ui .button:disabled {
  background: white;
}