.formContainer {
  position: relative;
  display: flex;
  justify-content: center;
  top: 340px;
}

form {
  width: 300px;
}

.submitButton {
  display: flex;
  justify-content: center;
}

.ui .button {
  border-radius: 4px;
  width: 120px;
  height: 36px;
  color: #4776E6;
  background: white;
  margin-top: 5px;
}

.ui .button:hover {
  background: white;
  color: #8E54E9;
}

.errorText {
  padding-top: 5px;
  color: white;
}
